.contactPage li,
.contactPage ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.secTitle {
  position: relative;
  padding-bottom: 40px;
}

.title {
  position: relative;
  color: #00b8ca;
  font-size: 18px;
  font-weight: 700;
  padding-right: 50px;
  margin-bottom: 15px;
  display: inline-block;
  text-transform: capitalize;
}

.title::before {
  position: absolute;
  content: "";
  right: 0;
  bottom: 7px;
  width: 40px;
  height: 1px;
  background-color: #bbb;
}

.secTitle h2 {
  position: relative;
  color: #252525;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.5em;
  display: block;
}

.secTitleLight h2 {
  color: #fff;
}

/* Contact Page Section */
.contactPageSection {
  position: relative;
  padding-bottom: 110px;
}

.innerContainer {
  position: relative;
  z-index: 1;
  background-color: #00b8ca;
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.1);
}

.formColumn {
  position: relative;
  padding: 0 0 0 15px;
}

.formInnerColumn {
  position: relative;
  padding: 50px 45px 30px;
  background-color: #fff;
}

.infoColumn {
  position: relative;
}

.infoInnerColumn {
  position: relative;
  padding: 50px 10px;
}

.infoInnerColumn h2 {
  position: relative;
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.4em;
  margin-bottom: 25px;
}

.listInfo {
  position: relative;
  margin-bottom: 60px;
}

.listInfo li {
  position: relative;
  margin-bottom: 25px;
  font-size: 18px;
  color: #fff;
  line-height: 1.8em;
  padding-left: 45px;
}

.listInfo li:last-child {
  margin-bottom: 0;
}

.listInfo li i,
.listInfo li svg {
  position: absolute;
  left: 0;
  top: 8px;
  color: #fff;
  font-size: 30px;
}

/* Form */
.contactForm {
  position: relative;
}

.formGroup {
  position: relative;
  margin-bottom: 20px;
}

.contactForm input[type="text"],
.contactForm input[type="email"],
.contactForm textarea {
  display: block;
  width: 100%;
  height: 50px;
  color: #222;
  font-size: 14px;
  line-height: 38px;
  padding: 10px 20px;
  border: 1px solid #ddd;
  background-color: #fff;
  transition: all 0.3s ease;
}

.contactForm input:focus,
.contactForm textarea:focus {
  border-color: #00b8ca;
}

.contactForm textarea {
  height: 100px;
  resize: none;
}

.themeBtn {
  font-size: 16px;
  font-weight: 700;
  margin-top: 10px;
  text-transform: capitalize;
  padding: 16px 39px;
  border: 2px solid #00b8ca;
  background: #00b8ca;
  display: inline-block;
  cursor: pointer;
  color: #fff;
}

.themeBtn:hover {
  color: #00b8ca;
  border-color: #00b8ca;
  background: none;
}

.contactForm input.error,
.contactForm select.error,
.contactForm textarea.error {
  border-color: red !important;
}

.contactForm label.error {
  display: block;
  line-height: 24px;
  padding: 5px 0 0;
  margin: 0;
  text-transform: uppercase;
  font-size: 12px;
  color: red;
  font-weight: 500;
}

/* Social Icons */
.socialIconFour {
  position: relative;
}

.socialIconFour li {
  margin-right: 18px;
  display: inline-block;
}

.socialIconFour li.follow {
  color: #fff;
  font-weight: 600;
  font-size: 24px;
  display: block;
  margin-bottom: 20px;
}

.socialIconFour li a {
  font-size: 20px;
  color: #fff;
  transition: all 0.3s ease;
}

.socialIconFour li a:hover {
  color: #222;
}
